<div id="header-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				
				<header id="header">
					<h1><a href="/" id="logo">Minimaxing</a></h1>
					<nav id="nav">
						<a href="/" class="<% if (current.source == 'index') { %>current-page-item <% } %>" >Homepage</a>
						<a class="<% if (current.source == 'twocolumn1') { %>current-page-item <% } %>"href="/twocolumn1">Two Column #1</a>
						<a class="<% if (current.source == 'twocolumn2') { %>current-page-item <% } %>"href="/twocolumn2">Two Column #2</a>
						<a class="<% if (current.source == 'onecolumn') { %>current-page-item <% } %>"href="/onecolumn">One Column</a>
						<a class="<% if (current.source == 'threecolumn') { %>current-page-item <% } %>"href="/threecolumn">Three Column</a>
					</nav>
				</header>
			
			</div>
		</div>
	</div>
</div>